/**
* Border Radius Mixin
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}