/**
* Box Sizing mixin
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}