/**
* Mixin to generate multiple colors of the button element
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

@import "transition";
@mixin generate-button($bg-color, $font-color){
    background-color: $bg-color;
    color: $font-color;
    border: $button-border;
    @include transition(background-color 0.25s ease);

    &:hover,
    &:focus{
        background-color: darken( $bg-color, 7%);
    }

    &:active{
        background-color: darken( $bg-color, 18% );
    }

    &:disabled{
        background-color: transparentize($bg-color, 0.5);
        cursor: no-drop;
        color: transparentize($font-color, 0.5);
    }
}