/**
* Transition Mixin
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}