/**
* Alert Panels with different contextual colors.
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.alert{
    position: relative;
    width: 100%;
    padding: $symmetrical-padding;
    margin-top:$base-margin;
    @include box-sizing(border-box);
    @include border-radius($base-border-radius);
}

.alert-primary{
    @include generate-alert($primary-color, $font-color-inverse);
}

.alert-danger{
    @include generate-alert($danger-color, $font-color);
}
.alert-danger{
    @include generate-alert($danger-color, $font-color-inverse);
}