/**
* Bar on top of the page to display the title of the app.
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.app-bar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $app-bar-height;
    background-color: $app-bar-bg-color;
    padding: $base-padding;
    font-family: $header-font;
    color: $app-bar-font-color;
    display: block;
    @include box-shadow();
    z-index: 10;

    .logo{
        margin-top: 32px;
    }

    h1{
        display: inline-block;
        margin-top: -$app-bar-title-base-margin;
        vertical-align: $app-bar-title-vertical-align;
        margin-left: $base-margin;
    }

    @media #{$phone-screens}{
        &{
            text-align: center;

            .logo{
                margin-top: $base-margin;
                margin-bottom: 0;
            }

            & h1{
                display: block;
                margin-top: 5px;
            }
        }
    }
}