.btn {
    border: $button-border;
    border-radius: $base-border-radius;
    padding: $button-padding;
    cursor: pointer;
    margin: $button-base-margin;

    &:focus{
        outline: none;
    }

    &:active{
        outline: none;
    }
}

.btn-default{
    @include generate-button($gray, $font-color);
}

.btn-primary{
    @include generate-button($primary-color, $font-color-inverse);
}

.btn-warning{
    @include generate-button($warning-color, $font-color);
}

.btn-danger{
    @include generate-button($danger-color, $font-color-inverse);
}