.events-list{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: $base-padding-top;

    .event{
        padding: 10px;
        background: $event-bg-color;
        margin-bottom: 10px;
        border-radius: $base-border-radius;
        transition: all 0.25s ease;
        cursor: pointer;
        color: $event-font-color;

        &:hover{
            background: $event-hover-bg-color;
        }

        &.active{
            background: $event-active-bg-color;
            color: $event-active-font-color;
        }
    }
}