/**
* Different text align classes to align text.
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }

@media #{$phone-screens}{
    .text-left-xs{ text-align: left; }
    .text-center-xs{ text-align: center; }
    .text-right-xs{ text-align: right; }
}

@media #{$small-screens}{
    .text-left-sm{ text-align: left; }
    .text-center-sm{ text-align: center; }
    .text-right-sm{ text-align: right; }
}

@media #{$medium-screens}{
    .text-left-md{ text-align: left; }
    .text-center-md{ text-align: center; }
    .text-right-md{ text-align: right; }
}

@media #{$large-screens}{
    .text-left-lg{ text-align: left; }
    .text-center-lg{ text-align: center; }
    .text-right-lg{ text-align: right; }
}