/**
* Different Contextual text colors. 
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.text-primary{ color: $primary-color; }
.text-warning{ color: $warning-color; }
.text-danger{ color: $danger-color; }
.text-muted{ color: $gray; }