.form-container{
    @include flex();
    @include flex-direction(column);

    .form-group{
        margin-bottom: $base-margin;

        label{
            margin-bottom: $form-label-bottom-margin;
            display: block;
            &:after{
                content:"\A";
                white-space: pre;
            }
        }

        input{
            @include input;
            height: $form-control-height;
        }

        textarea{
            @include input;
            padding: $symmetrical-padding;
        }
    }
}