/**
* Forms SCSS. This styles the inputs utilized during the app
* Not all inputs are being stylized but the SCSS
* is ready to do so
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.form-container{
    @include flex();
    @include flex-direction(column);

    .form-group{
        margin-bottom: $base-margin;

        label{
            margin-bottom: $form-label-bottom-margin;
            display: block;
            &:after{
                content:"\A";
                white-space: pre;
            }
        }

        input{
            @include input;
            height: $form-control-height;
        }

        textarea{
            @include input;
            padding: $symmetrical-padding;
        }
    }
}