.row{
    position: relative;
    min-width: 100%;
    @include flex;
    @include flex-wrap(wrap);
    margin: $row-base-margin;

    &:after{
        content: "\A";
        white-space: pre;
    } 
    @include generate-columns();
}