/**
* Bootstrap-like grid system. It has been made with Flex insted of 
* different display methods
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.row{
    position: relative;
    min-width: 100%;
    @include flex;
    @include flex-wrap(wrap);
    margin: $row-base-margin;

    &:after{
        content: "\A";
        white-space: pre;
    } 
    @include generate-columns();
}