/**
* Scaffolding for the whole page
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

html{
    font-size: $font-size;
    height:100%;
}

body {
  font-family: $primary-font;
  font-size: $font-size;
  color: $font-color;
  width: 100%;
  margin: 0;
  background: $body-bg-color;
  height: 100%;
  overflow: hidden;
}