html{
    font-size: 10px;
    height:100%;
}

body {
  font-family: $primary-font;
  font-size: $font-size;
  color: $font-color;
  width: 100%;
  margin: 0;
  background: $body-bg-color;
  height: 100%;
  overflow: hidden;
}