/**
* Panel Component. This component is usually called like
* card on certain frameworks
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.panel{
    background: $panel-bg-color;
    margin-bottom: $base-margin;
    // border-radius: $base-border-radius;
    @include border-radius($base-border-radius);
    @include box-shadow();

    .panel-header{
        padding: $symmetrical-padding;
        border-bottom: $base-border;

        h1{
            margin: $panel-header-title-margin;
        }
    }

    .panel-body{
        padding: $symmetrical-padding;
        
        *:first-child{
            margin-top: 0;
        }

        *:last-child{
            margin-bottom: 0;
        }
    }
}