
.panel{
    background: $panel-bg-color;
    border-radius: $base-border-radius;

    @include box-shadow(10px);

    .panel-header{
        padding: $symmetrical-padding;
        border-bottom: $base-border;

        h1{
            margin: $panel-header-title-margin;
        }
    }

    .panel-body{
        padding: $symmetrical-padding;
        
        *:first-child{
            margin-top: 0;
        }

        *:last-child{
            margin-bottom: 0;
        }
    }
}