.right-bar{
    background-color: $right-bar-bg-color;
    position: absolute;
    right: 0;
    top: 100px;
    width: $right-bar-width;
    bottom: 0;
    border-left: 1px solid $border-color;
    padding: $base-padding;
    z-index: 0;
    overflow-y: auto;

    @media #{$phone-screens}{
        &{
            display: none;
        }
    }

}