/**
* Right bar element. This bar is to the right side of the screen, this one is
* reusable throught the application.
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

.right-bar{
    background-color: $right-bar-bg-color;
    position: absolute;
    right: 0;
    top: 100px;
    width: $right-bar-width;
    bottom: 0;
    border-left: $base-border;
    padding: $base-padding;
    z-index: 0;
    // box-sizing: border-box;
    @include box-sizing(border-box);
    // transition: right 0.25s ease;
    @include transition(right 0.25s ease);

    .open-arrow{
        position: absolute;
        width:25px;
        height:30px;
        left: -22px; 
        top: 15px;   
        background-color: $right-bar-bg-color;
        border-left: $base-border;
        border-bottom: $base-border;
        border-top: $base-border;
        border-radius: $base-border-radius;
        cursor: pointer;
        // transition: background-color 0.25s ease, color 0.25s ease;
        @include transition(background-color 0.25s ease, color 0.25s ease);

        &:before{
            position: absolute;
            font-family: FontAwesome;
            content: "\f054";
            top: 7px;
            left: 7px;
        }
    }

     &.collapsed{
        right: -$right-bar-width;
        .open-arrow{
            background-color: $primary-color;
            color: $font-color-inverse;
            &:before{
                content: "\f053"
            }
        }
    }

    .content-wrapper{
        position: relative;
        height: 100%;
        margin-left: -$base-margin;
        margin-right: -$base-margin;
        padding: $base-padding;
        overflow-y: auto;
    }

}