/**
* All the variables, components and mixins used throughout the application
*
* @author  Hector Mendoza
* @version 1.0
* @since   2017-04-30 
*/

@import "mixins/shadow";
@import "mixins/flex";
@import "mixins/button";
@import "mixins/input";
@import "mixins/alert";
@import "mixins/cols";
@import "mixins/border-radius";
@import "mixins/box-sizing";
@import "mixins/transform";

/* Break Points */
$phone-screens: "only screen and (max-width : 768px)";
$small-screens: "only screen and (max-width : 991px)";
$medium-screens: "only screen and (max-width : 992px)";
$large-screens: "only screen and (max-width : 1200px)";

/* grid */
$base-margin: -15px;
$row-base-margin: 0 $base-margin;

/* Colors */
$primary-color: #237e8f;
$warning-color: #FFE66D;
$danger-color: #FF6B6B;
$font-color: #292F36;
$font-color-inverse: #fff;

$gray-base: #000;
$gray: lighten($gray-base,80%);
$gray-light: lighten($gray-base, 85%);
$gray-lighter: lighten($gray-base,93.5%);

/* Body */
$body-bg-color: $gray-lighter;

/* fonts */
$primary-font: 'Droid Sans', sans-serif;
$header-font: 'Cabin', sans-serif;
$font-size: 15px;

/* padding*/
$base-padding: 0px 15px;
$base-padding-top: 15px;
$base-padding-bottom: 15px;
$base-padding-left: 15px;
$base-padding-right: 15px;

$symmetrical-padding: $base-padding-top;

/* Margins */
$base-margin: 15px;

/* app bar */
$app-bar-height: 100px;
$app-bar-bg-color: $primary-color;
$app-bar-font-color: #fff;
$app-bar-title-base-margin: 4px;
$app-bar-title-vertical-align: middle;

/* Right Bar */
$right-bar-bg-color: $gray-light;
$right-bar-width: 300px;

/* Borders */
$border-color: $gray;
$base-border-radius: 5px;
$base-border: 1px solid $border-color;

/* Panels */
$panel-bg-color: #fff;
$panel-header-title-margin: 0;

/* Events List */
$event-bg-color: #fff;
$event-font-color: $font-color;
$event-hover-bg-color: $gray-lighter;
$event-hover-font-color: $font-color;
$event-active-bg-color: $primary-color;
$event-active-font-color: #fff;
$event-max-height: 60px;

/* modals */
$modal-backdrop-bg-color: #000;
$modal-backdrop-opacity: 0.35;       
$modal-body-bg-color: #fff;
$modal-body-width: 750px;
$modal-body-margin-top: 50px;
$modal-body-min-height: 250px;  
$modal-phone-screen-width: 90%;  

/* forms */
$form-group-bottom-margin: $base-margin - 10;
$form-label-bottom-margin: $base-margin - 10;
$form-control-width: 100%;
$form-control-border: $base-border;
$form-control-height: 35px;

/* Buttons */
$button-padding: 10px 15px;
$button-border: none;
$button-base-margin: 0 5px 0 0;

/* shadows */
$base-box-shadow:  0 4px 5px 0 rgba(0,0,0,0.05), 0 1px 10px 0 rgba(0,0,0,0.05), 0 2px 4px -1px rgba(0,0,0,0.05);