/* Colors */
$primary-color: #6FCBDC;
$warning-color: #FFE66D;
$danger-color: #FF6B6B;
$font-color: #292F36;

$hover-color: darken($primary-color,30);

$gray-base: #000;
$gray: lighten($gray-base,33%);
$gray-light: lighten($gray-base, 85%);
$gray-lighter: lighten($gray-base,93.5%);

/* fonts */
$primary-font: 'Droid Sans', sans-serif;
$header-font: 'Cabin', sans-serif;
$font-size: 15px;

/* padding*/
$base-padding: 0px 15px;
$base-padding-top: 15px;

/* app bar */
$app-bar-height: 100px;
$app-bar-bg-color: darken($primary-color,30);
$app-bar-font-color: #fff;

/* Right Bar */
$right-bar-bg-color: $gray-lighter;
$right-bar-width: 230px;

/* Borders */
$border-color: $gray-light;
$base-border-radius: 5px;